name: Update M3U Live Sources

on:
  schedule:
    - cron: '0 16 * * *'
    - cron: '0 21 * * *'
    - cron: '0 9 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-sources:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
        
    - name: Install dependencies
      run: pip install requests
        
    - name: Run update script
      env:
        # 这里定义显示顺序，用逗号隔开，必须和下面的后缀对应
        SOURCE_ORDER: "咪咕,吉林,辽宁,北京,上海,冰茶"
        
        M3U_SOURCE_咪咕: ${{ secrets.M3U_SOURCE_1 }}
        M3U_SOURCE_吉林: ${{ secrets.M3U_SOURCE_2 }}
        M3U_SOURCE_辽宁: ${{ secrets.M3U_SOURCE_3 }}
        M3U_SOURCE_北京: ${{ secrets.M3U_SOURCE_4 }}
        M3U_SOURCE_上海: ${{ secrets.M3U_SOURCE_5 }}
        M3U_SOURCE_冰茶: ${{ secrets.M3U_SOURCE_6 }}
        M3U_SOURCE_吉林组播: ${{ secrets.M3U_SOURCE_7 }}
      run: python scripts/update_sources.py
      
    - name: Commit and push changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git diff --staged --quiet || git commit -m "Auto-update: $(date +'%Y-%m-%d %H:%M') UTC"
        git push
